<article class = "country-box">
<div class="country-conteiner">
<h1 class='country-title'>{{name}}</h1>
<p class = 'country-item'><b>Capital:</b> {{capital}}</p>
<p class = 'country-item'><b>Population:</b> {{population}}mln</p>
<p class = 'country-item'><b>languages:</b></p>
<ul class = 'country-list'>
    {{#each languages}}
    <li class = 'country-list__item'>{{this.name}}</li>
    {{/each}}
</ul>
</div>
<img src={{flag}} alt="{{name}}" class="country-img">
</article>