<article class = "country-box">
<div class="country-conteiner">
<h1 class='country-title'>{{name}}</h1>
<p class = 'country-item'>Capital:{{capital}}</p>
<p class = 'country-item'>Population:{{population}} mln</p>
<p class = 'country-item'>languages:</p>
<ul class = 'country-list'>
    {{#each languages}}
    <li class = 'country-list__item'>{{this.name}}</li>
    {{/each}}
</ul>
</div>
<img src={{flag}} alt="{{name}}" class="country-img">
</article>